body {
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: chartreuse;
}

ul>li {
    font-weight: bold;
}

ul li:hover {
    color: rgb(0, 255, 38);
    text-decoration: underline;
}

ul li:nth-child(2) {
    background-color: aquamarine;
}

/* ::before Pseudo-element */

ul li::before {

    content: "🚀 ";

}

/* ::after Pseudo-element */

a::after {

    content: " 🌌";

}

/* ::first-letter Pseudo-element */

p::first-letter {

    font-size: 200%;

    color: #ff6a5f;
}